body, html{
    margin: 50;
    font-family : sans-serif;
    background-color : lightyellow;
}
div{
    margin-top : 420px;
    font-size : 10px;
}

.frm1{
    position : left;
    height : 20px;
    width : 30%;
    padding : 20px;
    border-radius : 15px;
    font-size : 20px;
}
.btn1{
    position: right;
    top:50%;
    background-color :#FFD580;
    border-radius:10px;
    padding:15px;
    
}
.btn2{
    position: right;
    top:50%;
    background-color : lightgreen;
    border-radius:10px;
    padding:15px;
}
.btn2:hover {
      background-color:green;
      transition: 0.7s;
  }
.btn2:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.7s;
}  

.btn2:active {
    background-color: green;
    transition: 0.7s;
}
.frm2{
    margin-top : 20px;
    position : left;
    height : 25px;
    width : 70%;
    padding : 10px;
    border-radius : 10px;
    font-family: monospace;
    font-size : 16px;
}
.home{
    position : 50%;
    background-color : lightgrey;
    padding : 10px;
    border : none;
    border-radius : 15px;
    transition: 0.7s;
    
}
.home:active{
    background-color: grey;
    transition: 0.7s;
}
.texts{
    margin-top : 25px;
}