{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<p class = "texts", style="text-align:center">
    <strong>GENERATED PASSWORD</strong>
    <form style="text-align: center;">
    <input class = "frm2", type = text, value = {{password}}  readonly>
    <p hidden id ="pass",value={{password}}>{{password}}</p>
    <button id="cpbutton", class= "btn2", type=button>Copy</button>
    <script src="/static/js/main.js"> </script>
  
</p>

 <p class = "texts">
     <i>Please Store it safely.</i>
</p>
    

<form>
  <button class = "homebtn", formaction="/">Home</button>
</form>

<div>
    <p style="text-align:center">
      A <a href ="https://github.com/DebiprasadXD/web-password-generator">Project</a> Made by <a href ="https://github.com/DebiprasadXD">DebiprasadXD</a>
    </p>

    <p style="text-align:center">
        <i>*We do not store or sell your password.</i>
    </p>
    <p style="text-align:center">
        <strong>
            <a href='https://buymeacoffee.com/debiprasadxd/'>Support</a>
            </strong>
    </p>

</div>



{% endblock %}



