{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<p style="text-align:center">
    <strong>GENERATED PASSWORD</strong>
    <form style="text-align: center;">
    <input class = "frm", type = text, value = {{password}}  readonly>
    <p hidden id ="pass",value={{password}}>{{password}}</p>
    <button id="cpbutton", class= "btn", type=button>Copy</button>
    <script src="/static/js/main.js"> </script>
  
</p>

 <p>
     <i>Please Keep it safe.</i>
</p>
    


    <a href ="/">Home</a>
<div>
      A Project Made by <a href ="https://github.com/DebiprasadXD/web-password-generator">Debiprasad Das</a>

<p style="text-align:center">
    <i>*We do not store or sell your password.</i>
    
</p>

</div>



{% endblock %}



